body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23C6C3FF'/%3E%3Cstop offset='1' stop-color='%23DBFFF7'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23E9FFE0'/%3E%3Cstop offset='1' stop-color='%23D0FF9E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.definicion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.definicion h1{
    margin-top: 1em;
    text-align: center;
    font-size: 4em;
}

.definicion h3{
    text-align: center;
}

.definicion p{
    text-align: justify;
    margin: 0px 60px 0px 60px;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.definicion img{
    width: 900px;
}

.definicion h6{
    text-align: center;
}

.Reglas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.Reglas h1, h6{
    text-align: center;
}

.Reglas ul{
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.2em;
    width: 80%;
    text-align: justify;
}

.alert{
    width: 60%;
    height: 10%;
    margin-left: 4em;
    margin-top: 1em;
}

.bi{
    width: 40px;
}

.lista {
    margin-left: 4em;
}

.lista ul{
    font-size: 1.6em;
}

.lista h6{
    text-align: center;
}

#mike{
    width: 700px;
}

@media (max-width: 576px) {
    .definicion h1{
        font-size: 3em;
        margin-top: 1.6em;
    }
    .definicion h3{
        text-align: center;
        font-size: 1em;
    }
    
    .definicion p{
        margin: 0px 10px 0px 10px;
    }
    .Reglas ul{
        margin-left: 1em;
        font-size: 1.2em;
        width: 80%;
    }
    
    .alert{
        width: 90%;
        height: 10%;
        margin-left: 1em;
        margin-top: 1em;
    }
    
    .bi{
        width: 40px;
    }
    
    .lista {
        margin-left: 1em;
    }
    
    #mike{
        width: 90%;
    }
    #ahli{
        width: 90%;
    }

    .lista h6{
        margin-bottom: 190px;
    }
}

@media (max-width: 390px) {
    .lista h6{
        margin-bottom: 280px;
    }
}

@media (max-width: 490px) {
    .lista h6{
        margin-bottom: 380px;
    }
}


